# Tell Travis this is a Java project
language: java

# Tell Travis we want container-based builds.
sudo: false

addons:
  sonarqube:
    organization: "kingcraftingnl-github"
    token:
      secure: '$sonarqubekey'

#So only the 1.11.2 branch

jdk:
  - oraclejdk8

branches:
  only:
    - 1.11.2

# Use the gradle wrapper for 2.7 instead of default 2.2
before_install:
  - chmod +x gradlew

# Prepare the workspace.
install:
  - ./gradlew setupCIWorkspace -S

# Build the Project.
script:
  - ./gradlew build -S
  - ./gradlew sonarqube -Dsonar.host.url=https://sonarcloud.io -Dsonar.host.url=https://sonarcloud.io -Dsonar.login=$sonarqubekey

# Clean up after Gradle
env:
  global:
    TERM=dumb

# So the cache doesn't get rebuilt every time.
before_cache:
  - rm -f $HOME/.gradle/caches/modules-2/modules-2.lock

# Cache libs, as to improve speed.
cache:
  directories:
    - $HOME/.gradle/caches
    # So gradle isn't downloaded every time.
    - $HOME/.gradle/wrapper
    - $HOME/.sonar/cache'